body {
  background-color: #f4f5f7;
}
* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
}
.container {
  width: (92%, 1200px);
  margin-inline: auto;
}

/* login page */
.login-page-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.input-field {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
  width: 300px;
  padding-block: 2rem;
}
.btn,
input,
select {
  width: 100%;
  border: none;
  background-color: #f4f5f7;
  padding: 10px;
  border-radius: 999px;
  margin-bottom: 1rem;
}
.btn {
  background-color: #3b25c1;
  color: white;
}

/* home page */
.home {
  width: 320px;
  margin-inline: auto;
}
.logo {
  width: 50px;
}
#logout-btn {
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}
.navbar {
  background-color: #ffffff;
  padding-inline: 0.5rem;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-info {
  display: flex;
  align-items: center;
  gap: 8px;
}
hr {
  border: none;
  height: 1px;
  background-color: gray;
  opacity: 0.4;
}
.welcome {
  padding-block: 1rem;
  background-color: #ffffff;
  padding-inline: 0.5rem;
}
.payoo-purple {
  color: #7460ff;
}
.card-container {
  background-color: #ffffff;
  padding-inline: 0.5rem;
  padding-block: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border-radius: 0 0 30px 30px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(8, 8, 8, 0.7);
  border-radius: 5px;
  padding: 10px;
}
.card p {
  text-align: center;
}
.addMoney {
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
}
.withdraw {
  background-color: #ffffff;
  padding: 2rem 1rem;
  border-radius: 30px;
}
